{% extends "messageTools/message/heartBeat_msg_page.html" %}
{% block title %}dataUpstreamTransport_msg{% endblock %}
{% block content_1 %}
<div id="container3" style="width:100%;min-height:750px;float:left;_background:green;margin-top:10px;_border-top: 1px solid #eee;">
    <div style="width:100%;_background:green;padding:5px;padding-top:0px;">
        <h3 style="border-bottom: 1px solid #eee;">设置消息头：</h3>
        <label>消息ID：</label><input id="msgID" type="text" class="form-control" disabled="disabled" value="0900" style="width:80px;">
        <label>车机号：</label><input id="phoneNum" type="text" class="form-control" value="13146201119" style="width:150px;">
        <label>消息流水号：</label><input id="msgWaterCode" type="text" class="form-control" value="1" style="width:60px;">
        <label>是否加密：</label><select style="width:100px;" id="encryptionType" class="form-control">
            <option value="0">不加密</option>
            <option value="1024">加密</option>
        </select>
        <label>有无分包：</label><select style="width:80px;" id="subPkg" class="form-control" onchange="hasSubPkg()">
            <option value="0">无</option>
            <option value="8192">有</option>
        </select>
        <label id="subPkg_label" style="color:grey;">分包个数：</label><input disabled="disabled" id="pkgCounts" type="text" class="form-control" value="0" style="width:60px;">
    </div>
    <H3 style="border-bottom: 1px solid #eee;">数据上行透传消息内容：</H3>
    <div style="width:100%;margin-bottom:10px;">
        <label>选择数据类型：</label><select style="width:300px;" id="msgType" class="form-control" onchange="changeMsgType()">
            <option value="F1">驾驶行程数据 （熄火发送）</option>
            <option value="F2">故障码数据 （状态改变发送）</option>
            <option value="F3">休眠进入 (进入休眠模式发送)</option>
            <option value="F4">休眠唤醒 （退出休眠模式发送）</option>
        </select>
    </div>
    <ul class="protocol_content" style="padding:0px;">
        <li><label>时间1：</label><input id="time_1" type="text" class="form-control"></li>
        <li><label>时间2：</label><input id="time_2" type="text" class="form-control" value="2020-02-05 22:07:30"></li>
        <li><label>点火纬度：</label><input id="fireLatitude" type="text" class="form-control" value="29.40268"></li>
        <li><label>点火经度：</label><input id="fireLongitude" type="text" class="form-control" value="106.54041"></li>
        <li><label>熄火纬度：</label><input id="unFireLatitude" type="text" class="form-control" value="29.40268"></li>
        <li><label>熄火经度：</label><input id="unFireLongitude" type="text" class="form-control" value="106.54041"></li>
        <li><label style="word-break:break-all;font-size:8px;">驾驶循环标签：</label><input id="drivingCircleLabel" type="text" class="form-control" value="123"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环总里程类型：</label><input id="drivingCircleTotalMileageType" type="text" class="form-control" value="01"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环总里程，米：</label><input id="drivingCircleTotalMileage" type="text" class="form-control" value="38090"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环总耗油，(ml)：</label><input id="drivingCircleTotalOil" type="text" class="form-control" value="75400"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环总时长，秒：</label><input id="drivingCircleTotalTime" type="text" class="form-control" value="726000"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环超速累计时长，秒：</label><input id="drivingCircleOverSpeedTotalTime" type="text" class="form-control" value="54000"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环超速次数，次：</label><input id="drivingCircleOverSpeedTotalTimes" type="text" class="form-control" value="101"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环平均车速，KM/H：</label><input id="drivingCircleAverageSpeed" type="text" class="form-control" value="65"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环最大车速，KM/H：</label><input id="drivingCircleMaxSpeed" type="text" class="form-control" value="123"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环怠速时长，秒：</label><input id="drivingCircleIdlingTime" type="text" class="form-control" value="12600000"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环脚刹次数支持与否：</label><select id="drivingCircleFootBrakeIsSupport" class="form-control">
            <option value="0">不支持</option>
            <option value="1" selected="selected">支持</option>
        </select></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环脚刹总次数，次：</label><input id="drivingCircleFootBrakeTatalTimes" type="text" class="form-control" value="32"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环急加速次数：</label><input id="drivingCircleRapidlyAccelerateTimes" type="text" class="form-control" value="79"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环急减速次数：</label><input id="drivingCircleSharpSlowdownTimes" type="text" class="form-control" value="10"></li>
        <li><label style="word-break:break-all;font-size:10px;">驾驶循环急转弯次数：</label><input id="drivingCircleSharpCurveTimes" type="text" class="form-control" value="33"></li>
        <li><label style="word-break:break-all;font-size:10px;">速度为20Km/H的里程,单位:m：</label><input id="speedIn20" type="text" class="form-control" value="1068"></li>
        <li><label style="word-break:break-all;font-size:10px;">速度为20-40Km/H的里程,m：</label><input id="speedIn20_40" type="text" class="form-control" value="2020"></li>
        <li><label style="word-break:break-all;font-size:10px;">速度为40-60Km/H的里程：</label><input id="speedIn40_60" type="text" class="form-control" value="30400"></li>
        <li><label style="word-break:break-all;font-size:10px;">速度为60-80Km/H的里程：</label><input id="speedIn60_80" type="text" class="form-control" value="37000"></li>
        <li><label style="word-break:break-all;font-size:10px;">速度为80-100Km/H的里程：</label><input id="speedIn80_100" type="text" class="form-control" value="10400"></li>
        <li><label style="word-break:break-all;font-size:10px;">速度为100-120Km/H的里程：</label><input id="speedIn100_120" type="text" class="form-control" value="5000"></li>
        <li><label style="word-break:break-all;font-size:10px;">速度为120Km/H以上的里程：</label><input id="speedOut120" type="text" class="form-control" value="3200"></li>
        <li><label style="word-break:break-all;font-size:10px;">急加速总次数：</label><input id="rapidlyAccelerateTimes" type="text" class="form-control" value="3000"></li>
        <li><label style="word-break:break-all;font-size:10px;">急减速总次数：</label><input id="rapidlySharpSlowdownTimes" type="text" class="form-control" value="3507"></li>
        <li><label style="word-break:break-all;font-size:10px;">急转弯总次数：</label><input id="sharpCurveTimes" type="text" class="form-control" value="580"></li>
    </ul>
    <H3 style="border-bottom: 1px solid #eee;">控制：</H3>
    <div style="width:100%;padding:5px;margin-top:10px;">
        <button type="button" class="btn btn-primary" id="sendMsgBtn">发送消息</button>
    </div>
    <H3 style="border-bottom: 1px solid #eee;">返回信息：</H3>
    <div style="width:100%;padding:5px;margin-top:10px;">
        <textarea id="showFeedback" style="width:100%;padding:5px;" rows="8"></textarea>
    </div>
</div>

<script>
//发送GPS数据
$("#sendMsgBtn").click(function(){
    var msgID = $("#msgID").val();
    var phoneNum = $("#phoneNum").val();
    var msgWaterCode = $("#msgWaterCode").val();
    var encryptionType = $("#encryptionType").val();
    var subPkg = $("#subPkg").val();
    var pkgCounts = ""
    if (subPkg != "8192"){
        pkgCounts = "0"
    }else{
        pkgCounts = $("#pkgCounts").val();
    }

    var msgType = $("#msgType").val();
    var time_1 = $("#time_1").val();
    var time_2 = $("#time_2").val();
    var fireLatitude = $("#fireLatitude").val();
    var fireLongitude = $("#fireLongitude").val();
    var unFireLatitude = $("#unFireLatitude").val();
    var unFireLongitude = $("#unFireLongitude").val();
    var drivingCircleLabel = $("#drivingCircleLabel").val();
    var drivingCircleTotalMileageType = $("#drivingCircleTotalMileageType").val();
    var drivingCircleTotalMileage = $("#drivingCircleTotalMileage").val();
    var drivingCircleTotalOil = $("#drivingCircleTotalOil").val();
    var drivingCircleTotalTime = $("#drivingCircleTotalTime").val();
    var drivingCircleOverSpeedTotalTime = $("#drivingCircleOverSpeedTotalTime").val();
    var drivingCircleOverSpeedTotalTimes = $("#drivingCircleOverSpeedTotalTimes").val();
    var drivingCircleAverageSpeed = $("#drivingCircleAverageSpeed").val();
    var drivingCircleMaxSpeed = $("#drivingCircleMaxSpeed").val();
    var drivingCircleIdlingTime = $("#drivingCircleIdlingTime").val();
    var drivingCircleFootBrakeIsSupport = $("#drivingCircleFootBrakeIsSupport").val();
    var drivingCircleFootBrakeTatalTimes = $("#drivingCircleFootBrakeTatalTimes").val();
    var drivingCircleRapidlyAccelerateTimes = $("#drivingCircleRapidlyAccelerateTimes").val();
    var drivingCircleSharpSlowdownTimes = $("#drivingCircleSharpSlowdownTimes").val();
    var drivingCircleSharpCurveTimes = $("#drivingCircleSharpCurveTimes").val();
    var speedIn20 = $("#speedIn20").val();
    var speedIn20_40 = $("#speedIn20_40").val();
    var speedIn40_60 = $("#speedIn40_60").val();
    var speedIn60_80 = $("#speedIn60_80").val();
    var speedIn80_100 = $("#speedIn80_100").val();
    var speedIn100_120 = $("#speedIn100_120").val();
    var speedOut120 = $("#speedOut120").val();
    var rapidlyAccelerateTimes = $("#rapidlyAccelerateTimes").val();
    var rapidlySharpSlowdownTimes = $("#rapidlySharpSlowdownTimes").val();
    var sharpCurveTimes = $("#sharpCurveTimes").val();

    var data = {};
    data["msgID"] = msgID;
    data["phoneNum"] = phoneNum;
    data["msgWaterCode"] = msgWaterCode;
    data["encryptionType"] = encryptionType;
    data["subPkg"] = subPkg;
    data["pkgCounts"] = pkgCounts;

    data["msgType"] = msgType;
    data["time_1"] = time_1;
    data["time_2"] = time_2;
    data["fireLatitude"] = fireLatitude;
    data["fireLongitude"] = fireLongitude;
    data["unFireLatitude"] = unFireLatitude;
    data["unFireLongitude"] = unFireLongitude;
    data["drivingCircleLabel"] = drivingCircleLabel;
    data["drivingCircleTotalMileageType"] = drivingCircleTotalMileageType;
    data["drivingCircleTotalMileage"] = drivingCircleTotalMileage;
    data["drivingCircleTotalOil"] = drivingCircleTotalOil;
    data["drivingCircleTotalTime"] = drivingCircleTotalTime;
    data["drivingCircleOverSpeedTotalTime"] = drivingCircleOverSpeedTotalTime;
    data["drivingCircleOverSpeedTotalTimes"] = drivingCircleOverSpeedTotalTimes;
    data["drivingCircleAverageSpeed"] = drivingCircleAverageSpeed;
    data["drivingCircleMaxSpeed"] = drivingCircleMaxSpeed;
    data["drivingCircleIdlingTime"] = drivingCircleIdlingTime;
    data["drivingCircleFootBrakeIsSupport"] = drivingCircleFootBrakeIsSupport;
    data["drivingCircleFootBrakeTatalTimes"] = drivingCircleFootBrakeTatalTimes;
    data["drivingCircleRapidlyAccelerateTimes"] = drivingCircleRapidlyAccelerateTimes;
    data["drivingCircleSharpSlowdownTimes"] = drivingCircleSharpSlowdownTimes;
    data["drivingCircleSharpCurveTimes"] = drivingCircleSharpCurveTimes;
    data["speedIn20"] = speedIn20;
    data["speedIn20_40"] = speedIn20_40;
    data["speedIn40_60"] = speedIn40_60;
    data["speedIn60_80"] = speedIn60_80;
    data["speedIn80_100"] = speedIn80_100;
    data["speedIn100_120"] = speedIn100_120;
    data["speedOut120"] = speedOut120;
    data["rapidlyAccelerateTimes"] = rapidlyAccelerateTimes;
    data["rapidlySharpSlowdownTimes"] = rapidlySharpSlowdownTimes;
    data["sharpCurveTimes"] = sharpCurveTimes;

    var host = window.location.host;
    $("#showFeedback").val("")
    $.ajax({
        url:"http://" + host + "/messageTools/message_process/porcessDataUpstreamTransportMsg",
        type:"post",
        data:data,
        dataType:"json",
        success:function(data){
            if(data.status == 200){
                //window.location.reload()
                    var theShow = "原始数据：　"　+ data.original + "\n";
                    theShow = theShow + "收到数据：　" + data.result + "\n";
                    theShow = theShow + "收到数据16进制：　" + data.resultH + "\n";
                    theShow = theShow + "解析数据：　"　+ JSON.stringify(data.parse) + "\n";
                    $("#showFeedback").val(theShow)
            }else{
                $("#showFeedback").val(data.message)
                alert(data.message);
            }
        }
    });
});

function hasSubPkg(){
    value = $("#subPkg").val()
    if(value == "8192"){
        $("#subPkg_label").css("color","black")
        $("#pkgCounts").removeAttr("disabled")
    }else{
        $("#subPkg_label").css("color","grey")
        $("#pkgCounts").attr("disabled","disabled")
    }
}

function changeMsgType(){
    var value = $("#msgType").val()
    if(value == "F1"){
        $(location).attr('href', "http://" + window.location.host + "/messageTools/message_view/dataUpstreamTransport_msg_page");
    }else if(value == "F2"){
        $(location).attr('href', "http://" + window.location.host + "/messageTools/message_view/dataUpstreamTransport_msg_f2_page");
    }else if(value == "F3"){
        $(location).attr('href', "http://" + window.location.host + "/messageTools/message_view/dataUpstreamTransport_msg_f3_page");
    }else if(value == "F4"){
        $(location).attr('href', "http://" + window.location.host + "/messageTools/message_view/dataUpstreamTransport_msg_f4_page");
    }
}

//设置当前时间到时间输入框
(function(){
    var curTime = getCurTime();
    $("#time_1").val(curTime);
})();
</script>
{% endblock %}